*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  position: relative;
  top: -1000px;
  max-width: 1200px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

.footer{
  background-color: #494646;
  padding: 70px 0;
}

.footer-col{
  width: 15%;
  padding: 0 105px;
}
.footer-col h4{
  font-size: 38px;
  width: 500px;
  color: #e91e63;
  font-style: italic;
  text-transform: capitalize;
  margin-bottom: 10px;
  position: relative;
  top:-22.4px;
}
.footer-col h3{
  font-size: 18px;
  color: #494646;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}

.footer-col h3::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 380px;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 380px;
}

.footer-col ul li a{
  font-size: 16px;
  padding: 5px 0;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s;
}
.footer-col ul li a:hover{
  color: #fff;
  padding-left: 10px;
}
