* {
  margin: 0;
  padding: 0;
}

body
{
  background-color: #8f0202;
}

.wrapper{
  margin: 0 auto;
  width: 1500px;
}

#Logo{
  width: 524px;
  height: 524px;
  margin: auto;
  position: relative;
  top: 40px;
  left:-450px;
  background-image: url("../Style_Sheets/IMG/bakery shop.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  z-index: 99px;
}

#text{
  width:850px;
  font-size: 37px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Timeless', sans-serif;
  text-align: justify;
  position: relative;
  background-color: #F9C708;
  top:-460px;
  left:562px;
  color: #000;
}

nav {
  width: 100%;
  height: 100px;
}

.header ul{
  margin-left: 0;

}

img{
  width: 100px;
  height: 100px;
  margin-left: 50px;
}
.header ul li{
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 100px;
  margin: 0 10px;
}
.header ul li a{
  text-decoration: none;
  font-size: 22px;
  font-family: 'Timeless', sans-serif;
  font-weight: 600;
  padding: 15px 40px;
  border-radius: 15px;
  color: #FFF;
}
.header ul li a:hover {
  background-color: #FFF;
  color: #8f0202;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.container{
  max-width: 1170px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

.footer{

  background-color: #494646;
  padding: 70px 0;
}

.footer-col{
  width: 15%;
  padding: 0 105px;
}
.footer-col h4{
  font-size: 38px;
  width: 700px;
  color: #e91e63;
  font-style: italic;
  text-transform: capitalize;
  margin-bottom: 10px;
  position: relative;
  top:-22.4px;
}
.footer-col h3{
  font-size: 18px;
  color: #494646;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}

.footer-col h3::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 390px;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 390px;
}

.footer-col ul li a{
  font-size: 16px;
  padding: 5px 0;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s;
}
.footer-col ul li a:hover{
  color: #fff;
  padding-left: 10px;
}
